.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* background-color: white; */
    /* border: 1px solid #ccc; */
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  